<div>
    <h2 id="page-heading">
        <span jhiTranslate="paradineApp.achievement.home.title">Achievements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-achievement" [routerLink]="['/achievement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="paradineApp.achievement.home.createLabel">
            Create a new Achievement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'paradineApp.achievement.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="achievements?.length === 0">
        <span jhiTranslate="paradineApp.achievement.home.notFound">No achievements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="achievements && achievements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="paradineApp.achievement.slug">Slug</span></th>
                    <th scope="col" ><span jhiTranslate="paradineApp.achievement.nameEn">Name En</span></th>
                    <th scope="col" ><span jhiTranslate="paradineApp.achievement.nameRu">Name Ru</span></th>
                    <th scope="col" ><span jhiTranslate="paradineApp.achievement.nameUa">Name Ua</span></th>
                    <th scope="col" ><span jhiTranslate="paradineApp.achievement.descriptionEn">Description En</span></th>
                    <th scope="col" ><span jhiTranslate="paradineApp.achievement.descriptionRu">Description Ru</span></th>
                    <th scope="col" ><span jhiTranslate="paradineApp.achievement.descriptionUa">Description Ua</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let achievement of achievements ;trackBy: trackId">
                    <td><a [routerLink]="['/achievement', achievement.id, 'view']">{{ achievement.id }}</a></td>
                    <td>{{ achievement.slug }}</td>
                    <td>{{ achievement.nameEn }}</td>
                    <td>{{ achievement.nameRu }}</td>
                    <td>{{ achievement.nameUa }}</td>
                    <td>{{ achievement.descriptionEn }}</td>
                    <td>{{ achievement.descriptionRu }}</td>
                    <td>{{ achievement.descriptionUa }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/achievement', achievement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/achievement', achievement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(achievement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
