<div>
    <h2 id="page-heading">
        <span jhiTranslate="paradineApp.popularTime.home.title">Popular Times</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-popular-time" [routerLink]="['/popular-time/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="paradineApp.popularTime.home.createLabel">
            Create a new Popular Time
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'paradineApp.popularTime.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="popularTimes?.length === 0">
        <span jhiTranslate="paradineApp.popularTime.home.notFound">No popularTimes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="popularTimes && popularTimes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dayOfWeek"><span jhiTranslate="paradineApp.popularTime.dayOfWeek">Day Of Week</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ01"><span jhiTranslate="paradineApp.popularTime.occ01">Occ 01</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ02"><span jhiTranslate="paradineApp.popularTime.occ02">Occ 02</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ03"><span jhiTranslate="paradineApp.popularTime.occ03">Occ 03</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ04"><span jhiTranslate="paradineApp.popularTime.occ04">Occ 04</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ05"><span jhiTranslate="paradineApp.popularTime.occ05">Occ 05</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ06"><span jhiTranslate="paradineApp.popularTime.occ06">Occ 06</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ07"><span jhiTranslate="paradineApp.popularTime.occ07">Occ 07</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ08"><span jhiTranslate="paradineApp.popularTime.occ08">Occ 08</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ09"><span jhiTranslate="paradineApp.popularTime.occ09">Occ 09</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ10"><span jhiTranslate="paradineApp.popularTime.occ10">Occ 10</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ11"><span jhiTranslate="paradineApp.popularTime.occ11">Occ 11</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ12"><span jhiTranslate="paradineApp.popularTime.occ12">Occ 12</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ13"><span jhiTranslate="paradineApp.popularTime.occ13">Occ 13</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ14"><span jhiTranslate="paradineApp.popularTime.occ14">Occ 14</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ15"><span jhiTranslate="paradineApp.popularTime.occ15">Occ 15</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ16"><span jhiTranslate="paradineApp.popularTime.occ16">Occ 16</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ17"><span jhiTranslate="paradineApp.popularTime.occ17">Occ 17</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ18"><span jhiTranslate="paradineApp.popularTime.occ18">Occ 18</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ19"><span jhiTranslate="paradineApp.popularTime.occ19">Occ 19</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ20"><span jhiTranslate="paradineApp.popularTime.occ20">Occ 20</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ21"><span jhiTranslate="paradineApp.popularTime.occ21">Occ 21</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ22"><span jhiTranslate="paradineApp.popularTime.occ22">Occ 22</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ23"><span jhiTranslate="paradineApp.popularTime.occ23">Occ 23</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occ24"><span jhiTranslate="paradineApp.popularTime.occ24">Occ 24</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="restaurantName"><span jhiTranslate="paradineApp.popularTime.restaurant">Restaurant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let popularTime of popularTimes ;trackBy: trackId">
                    <td><a [routerLink]="['/popular-time', popularTime.id, 'view']">{{ popularTime.id }}</a></td>
                    <td>{{ popularTime.dayOfWeek }}</td>
                    <td>{{ popularTime.occ01 }}</td>
                    <td>{{ popularTime.occ02 }}</td>
                    <td>{{ popularTime.occ03 }}</td>
                    <td>{{ popularTime.occ04 }}</td>
                    <td>{{ popularTime.occ05 }}</td>
                    <td>{{ popularTime.occ06 }}</td>
                    <td>{{ popularTime.occ07 }}</td>
                    <td>{{ popularTime.occ08 }}</td>
                    <td>{{ popularTime.occ09 }}</td>
                    <td>{{ popularTime.occ10 }}</td>
                    <td>{{ popularTime.occ11 }}</td>
                    <td>{{ popularTime.occ12 }}</td>
                    <td>{{ popularTime.occ13 }}</td>
                    <td>{{ popularTime.occ14 }}</td>
                    <td>{{ popularTime.occ15 }}</td>
                    <td>{{ popularTime.occ16 }}</td>
                    <td>{{ popularTime.occ17 }}</td>
                    <td>{{ popularTime.occ18 }}</td>
                    <td>{{ popularTime.occ19 }}</td>
                    <td>{{ popularTime.occ20 }}</td>
                    <td>{{ popularTime.occ21 }}</td>
                    <td>{{ popularTime.occ22 }}</td>
                    <td>{{ popularTime.occ23 }}</td>
                    <td>{{ popularTime.occ24 }}</td>
                    <td>
                        <div *ngIf="popularTime.restaurantId">
                            <a [routerLink]="['/restaurant', popularTime.restaurantId , 'view']" >{{ popularTime.restaurantName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/popular-time', popularTime.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/popular-time', popularTime.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(popularTime)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
