<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-restaurant-heading" jhiTranslate="thehipstaApp.restaurant.home.createOrEditLabel">Create or edit a Restaurant</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thehipstaApp.restaurant.uuid" for="field_uuid">Uuid</label>
                    <input type="text" class="form-control" name="uuid" id="field_uuid"
                           formControlName="uuid"/>
                    <div *ngIf="editForm.get('uuid')!.invalid && (editForm.get('uuid')!.dirty || editForm.get('uuid')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uuid')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uuid')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 36 }">
                        This field is required to be at least 36 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uuid')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 36 }">
                        This field cannot be longer than 36 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uuid')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Uuid' }">
                            This field should follow pattern for "Uuid".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thehipstaApp.restaurant.capacity" for="field_capacity">Capacity</label>
                    <input type="number" class="form-control" name="capacity" id="field_capacity"
                           formControlName="capacity"/>
                    <div *ngIf="editForm.get('capacity')!.invalid && (editForm.get('capacity')!.dirty || editForm.get('capacity')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('capacity')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('capacity')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 3 }">
                            This field should be at least 3.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('capacity')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thehipstaApp.restaurant.geolat" for="field_geolat">Geolat</label>
                    <input type="number" class="form-control" name="geolat" id="field_geolat"
                           formControlName="geolat"/>
                    <div *ngIf="editForm.get('geolat')!.invalid && (editForm.get('geolat')!.dirty || editForm.get('geolat')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('geolat')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('geolat')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thehipstaApp.restaurant.geolng" for="field_geolng">Geolng</label>
                    <input type="number" class="form-control" name="geolng" id="field_geolng"
                           formControlName="geolng"/>
                    <div *ngIf="editForm.get('geolng')!.invalid && (editForm.get('geolng')!.dirty || editForm.get('geolng')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('geolng')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('geolng')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thehipstaApp.restaurant.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 128 }">
                        This field cannot be longer than 128 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Name' }">
                            This field should follow pattern for "Name".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thehipstaApp.restaurant.photoUrl" for="field_photoUrl">Photo Url</label>
                    <input type="text" class="form-control" name="photoUrl" id="field_photoUrl"
                           formControlName="photoUrl"/>
                    <div *ngIf="editForm.get('photoUrl')!.invalid && (editForm.get('photoUrl')!.dirty || editForm.get('photoUrl')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('photoUrl')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('photoUrl')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('photoUrl')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 256 }">
                        This field cannot be longer than 256 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('photoUrl')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Photo Url' }">
                            This field should follow pattern for "Photo Url".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thehipstaApp.restaurant.altName1" for="field_altName1">Alt Name 1</label>
                    <input type="text" class="form-control" name="altName1" id="field_altName1"
                           formControlName="altName1"/>
                    <div *ngIf="editForm.get('altName1')!.invalid && (editForm.get('altName1')!.dirty || editForm.get('altName1')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('altName1')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 128 }">
                        This field cannot be longer than 128 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thehipstaApp.restaurant.altName2" for="field_altName2">Alt Name 2</label>
                    <input type="text" class="form-control" name="altName2" id="field_altName2"
                           formControlName="altName2"/>
                    <div *ngIf="editForm.get('altName2')!.invalid && (editForm.get('altName2')!.dirty || editForm.get('altName2')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('altName2')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 128 }">
                        This field cannot be longer than 128 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thehipstaApp.restaurant.altName3" for="field_altName3">Alt Name 3</label>
                    <input type="text" class="form-control" name="altName3" id="field_altName3"
                           formControlName="altName3"/>
                    <div *ngIf="editForm.get('altName3')!.invalid && (editForm.get('altName3')!.dirty || editForm.get('altName3')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('altName3')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 128 }">
                        This field cannot be longer than 128 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thehipstaApp.restaurant.googlePlacesId" for="field_googlePlacesId">Google Places Id</label>
                    <input type="text" class="form-control" name="googlePlacesId" id="field_googlePlacesId"
                           formControlName="googlePlacesId"/>
                    <div *ngIf="editForm.get('googlePlacesId')!.invalid && (editForm.get('googlePlacesId')!.dirty || editForm.get('googlePlacesId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('googlePlacesId')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thehipstaApp.restaurant.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" formControlName="createdAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdAt')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createdAt')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thehipstaApp.restaurant.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" formControlName="updatedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('updatedAt')!.invalid && (editForm.get('updatedAt')!.dirty || editForm.get('updatedAt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('updatedAt')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('updatedAt')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
