<div>
    <h2 id="page-heading">
        <span jhiTranslate="paradineApp.restaurant.home.title">Restaurants</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-restaurant" [routerLink]="['/restaurant/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="paradineApp.restaurant.home.createLabel">
            Create a new Restaurant
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'paradineApp.restaurant.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="restaurants?.length === 0">
        <span jhiTranslate="paradineApp.restaurant.home.notFound">No restaurants found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="restaurants && restaurants.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="paradineApp.restaurant.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="altName1"><span jhiTranslate="paradineApp.restaurant.altName1">Alt Name 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="googlePlacesId"><span jhiTranslate="paradineApp.restaurant.googlePlacesId">Google Places Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="geolat"><span jhiTranslate="paradineApp.restaurant.geolat">Geolat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="geolng"><span jhiTranslate="paradineApp.restaurant.geolng">Geolng</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photoUrl"><span jhiTranslate="paradineApp.restaurant.photoUrl">Photo Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="altName2"><span jhiTranslate="paradineApp.restaurant.altName2">Alt Name 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="altName3"><span jhiTranslate="paradineApp.restaurant.altName3">Alt Name 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="capacity"><span jhiTranslate="paradineApp.restaurant.capacity">Capacity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="paradineApp.restaurant.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="paradineApp.restaurant.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uuid"><span jhiTranslate="paradineApp.restaurant.uuid">Uuid</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let restaurant of restaurants ;trackBy: trackId">
                    <td><a [routerLink]="['/restaurant', restaurant.id, 'view']">{{ restaurant.id }}</a></td>
                    <td>{{ restaurant.name }}</td>
                    <td>{{ restaurant.altName1 }}</td>
                    <td>{{ restaurant.googlePlacesId }}</td>
                    <td>{{ restaurant.geolat }}</td>
                    <td>{{ restaurant.geolng }}</td>
                    <td>{{ restaurant.photoUrl }}</td>
                    <td>{{ restaurant.altName2 }}</td>
                    <td>{{ restaurant.altName3 }}</td>
                    <td>{{ restaurant.capacity }}</td>
                    <td>{{ restaurant.createdAt | date:'medium' }}</td>
                    <td>{{ restaurant.updatedAt | date:'medium' }}</td>
                    <td>{{ restaurant.uuid }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/restaurant', restaurant.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/restaurant', restaurant.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(restaurant)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
