<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="restaurant">
            <h2><span jhiTranslate="paradineApp.restaurant.detail.title">Restaurant</span> {{ restaurant.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="paradineApp.restaurant.name">Name</span></dt>
                <dd>
                    <span>{{ restaurant.name }}</span>
                </dd>
                <dt><span jhiTranslate="paradineApp.restaurant.altName1">Alt Name 1</span></dt>
                <dd>
                    <span>{{ restaurant.altName1 }}</span>
                </dd>
                <dt><span jhiTranslate="paradineApp.restaurant.googlePlacesId">Google Places Id</span></dt>
                <dd>
                    <span>{{ restaurant.googlePlacesId }}</span>
                </dd>
                <dt><span jhiTranslate="paradineApp.restaurant.geolat">Geolat</span></dt>
                <dd>
                    <span>{{ restaurant.geolat }}</span>
                </dd>
                <dt><span jhiTranslate="paradineApp.restaurant.geolng">Geolng</span></dt>
                <dd>
                    <span>{{ restaurant.geolng }}</span>
                </dd>
                <dt><span jhiTranslate="paradineApp.restaurant.photoUrl">Photo Url</span></dt>
                <dd>
                    <span>{{ restaurant.photoUrl }}</span>
                </dd>
                <dt><span jhiTranslate="paradineApp.restaurant.altName2">Alt Name 2</span></dt>
                <dd>
                    <span>{{ restaurant.altName2 }}</span>
                </dd>
                <dt><span jhiTranslate="paradineApp.restaurant.altName3">Alt Name 3</span></dt>
                <dd>
                    <span>{{ restaurant.altName3 }}</span>
                </dd>
                <dt><span jhiTranslate="paradineApp.restaurant.capacity">Capacity</span></dt>
                <dd>
                    <span>{{ restaurant.capacity }}</span>
                </dd>
                <dt><span jhiTranslate="paradineApp.restaurant.createdAt">Created At</span></dt>
                <dd>
                    <span>{{ restaurant.createdAt }}</span>
                </dd>
                <dt><span jhiTranslate="paradineApp.restaurant.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{ restaurant.updatedAt }}</span>
                </dd>
                <dt><span jhiTranslate="paradineApp.restaurant.uuid">Uuid</span></dt>
                <dd>
                    <span>{{ restaurant.uuid }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/restaurant', restaurant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
