<div>
    <h2 id="page-heading">
        <span jhiTranslate="paradineApp.workingHours.home.title">Working Hours</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-working-hours" [routerLink]="['/working-hours/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="paradineApp.workingHours.home.createLabel">
            Create a new Working Hours
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'paradineApp.workingHours.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="workingHours?.length === 0">
        <span jhiTranslate="paradineApp.workingHours.home.notFound">No workingHours found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="workingHours && workingHours.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dayOfWeek"><span jhiTranslate="paradineApp.workingHours.dayOfWeek">Day Of Week</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="closed"><span jhiTranslate="paradineApp.workingHours.closed">Closed</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="openingHour"><span jhiTranslate="paradineApp.workingHours.openingHour">Opening Hour</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="closingHour"><span jhiTranslate="paradineApp.workingHours.closingHour">Closing Hour</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="restaurantName"><span jhiTranslate="paradineApp.workingHours.restaurant">Restaurant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let workingHours of workingHours ;trackBy: trackId">
                    <td><a [routerLink]="['/working-hours', workingHours.id, 'view']">{{ workingHours.id }}</a></td>
                    <td>{{ workingHours.dayOfWeek }}</td>
                    <td>{{ workingHours.closed }}</td>
                    <td>{{ workingHours.openingHour }}</td>
                    <td>{{ workingHours.closingHour }}</td>
                    <td>
                        <div *ngIf="workingHours.restaurantId">
                            <a [routerLink]="['/restaurant', workingHours.restaurantId , 'view']" >{{ workingHours.restaurantName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/working-hours', workingHours.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/working-hours', workingHours.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(workingHours)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
